@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  margin: 0;
  padding: 0;
  justify-items: start;
  display: flow-root;
}
#upload-photo {
  display: none;
}

.map-wrap .mapboxgl-ctrl-geolocate {
  height: 30px;
  width: 30px;
  position: absolute;
  top: auto;
  right: 0px;
  background-color: white;
  border-radius: 50%;
  background-image: url("./assets/currentLocation.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  top: 4%;
  right: 2%;
}
.map-wrap .mapboxgl-ctrl-directions {
  display: none;
}
.mapboxgl-ctrl-bottom-right {
  display: none;
}


.map-box-list > mapbox-address-autofill {
  max-width: 95%;
  width: 100%;
}

mapbox-search-listbox
  > div
  > div
  + div
  > div[role="listbox"]
  > div[area-selected="true"] {
  background-color: #ccc !important;
}


mapbox-search-listbox {
  width: 100%;
  display: block;
  position: absolute;
  top: -10px;
  z-index: 999 !important;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.map-box-list > mapbox-address-autofill {
  max-width: 80%;
  width: 100%;
}
